<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>



  <% @subscriptions.each do |s| %>
    <div class="subscription">
      <h2><%= s.product.name %></h2>
      <img src="<%= s.product.image.url(:medium) %>">
      <p class="price"><%= s.price %> every <%= s.month_interval %> month(s) </p>
      <p class="description"><%= s.product.description %></p>
      <span><%= s.product.category %></span>
      
    </div>
  <% end %>
      
