<h1>Add Subscriptions</h1>

<%= form_for @product do |f| %>
  
  <%= f.text_field :name, placeholder: "Product Name" %><br>
  <%= f.text_field :category, placeholder: "Category" %><br>
  <%= f.text_field :description, placeholder: "Product Description" %> <br>

  <%= f.fields_for :subscription do |subscriptions_form| %>
    
    <%= subscriptions_form.number_field :price, placeholder: "Price of Subscription" %>

    <%= subscriptions_form.select(:month_interval, (1..12) ) %>
  
  <div class="actions">
   <%= f.submit "Add Subscription" %>
  </div>

<% end %>

<% end %>

