<p id="notice"><%= notice %></p>

<div id="explore_container">
  
  <div id="auto_field">
    <%= form_tag "/products/autocomplete_product_name" do %>
      <%= autocomplete_field_tag :product_name, '', autocomplete_product_name_products_path %>
    <% end %>
  </div>

  <div class="product_wrapper">
    
      <% @products.each_slice(10) do |col| %>
        <div class="column">  
          <% col.each do |p| %>
            <div class="product">
                <h2><%= p.name %></h2> <p><%= p.category%></p>
                <div class="img"><img src="<%= p.image.url(:medium) %>"></div>
                <p class="description"><%= p.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      
    
  </div>
  
  <%= will_paginate %>

</div> <!-- close product_wrapper -->