<!DOCTYPE html>
<html>
<head>
  <title>SubscribeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- flash notices -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  <!-- flash notice end -->

  <!-- Navbar --> 
    <header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/dashboard">Dashboard</a></li>
        <li class="nav-link"><a href="/explore">Explore</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Log In</a></li>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <%= form_tag "/products/autocomplete_product_name", id: "autocomplete" do %>
        <%= autocomplete_field_tag :product_name, '', autocomplete_product_name_products_path %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<!-- Log in form --> 
    <div class="login-form-wrapper">

    </div>

<%= yield %>

<div class="spacer"> </div>
<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>

</footer>


</body>
</html>


